# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
.env
venv/
.env*/
.venv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*~
